[submodule "rocket-chip"]
	path = generators/rocket-chip
	url = ../rocket-chip.git
[submodule "testchipip"]
	path = generators/testchipip
	url = ../testchipip.git
[submodule "barstools"]
	path = tools/barstools
	url = ../../ucb-bar/barstools.git
[submodule "tools/torture"]
	path = tools/torture
	url = ../../ucb-bar/riscv-torture.git
[submodule "generators/boom"]
	path = generators/boom
	url = ../riscv-boom.git
[submodule "generators/sifive-blocks"]
	path = generators/sifive-blocks
	url = ../../chipsalliance/rocket-chip-blocks.git
[submodule "generators/hwacha"]
	path = generators/hwacha
	url = ../../ucb-bar/hwacha.git
[submodule "sims/firesim"]
	path = sims/firesim
	url = ../firesim.git
[submodule "generators/icenet"]
	path = generators/icenet
	url = ../../firesim/icenet.git
[submodule "generators/block-inclusivecache-sifive"]
	path = generators/sifive-cache
	url = ../../chipsalliance/rocket-chip-inclusive-cache.git
[submodule "vlsi/hammer"]
	path = vlsi/hammer
	url = ../../ucb-bar/hammer.git
[submodule "tools/dsptools"]
	path = tools/dsptools
	url = ../../ucb-bar/dsptools.git
[submodule "tools/chisel-testers"]
	path = tools/chisel-testers
	url = ../../freechipsproject/chisel-testers.git
[submodule "generators/sha3"]
	path = generators/sha3
	url = ../../ucb-bar/sha3.git
[submodule "vlsi/hammer-cadence-plugins"]
	path = vlsi/hammer-cadence-plugins
	url = ../../ucb-bar/hammer-cadence-plugins.git
[submodule "vlsi/hammer-synopsys-plugins"]
	path = vlsi/hammer-synopsys-plugins
	url = ../../ucb-bar/hammer-synopsys-plugins.git
[submodule "tools/axe"]
	path = tools/axe
	url = ../../CTSRD-CHERI/axe.git
[submodule "software/spec2017"]
	path = software/spec2017
	url = ../../ucb-bar/spec2017-workload.git
[submodule "software/coremark"]
	path = software/coremark
	url = ../../ucb-bar/coremark-workload.git
[submodule "generators/gemmini"]
	path = generators/gemmini
	url = ../../ucb-bar/gemmini
[submodule "software/firemarshal"]
	path = software/firemarshal
	url = ../../firesim/FireMarshal.git
[submodule "generators/cva6"]
	path = generators/cva6
	url = ../../ucb-bar/cva6-wrapper.git
[submodule "tools/DRAMSim2"]
	path = tools/DRAMSim2
	url = ../../firesim/DRAMSim2.git
[submodule "generators/nvdla"]
	path = generators/nvdla
	url = ../../ucb-bar/nvdla-wrapper.git
[submodule "software/nvdla-workload"]
	path = software/nvdla-workload
	url = ../../ucb-bar/nvdla-workload.git
[submodule "tools/dromajo/dromajo-src"]
	path = tools/dromajo/dromajo-src
	url = ../../riscv-boom/dromajo.git
[submodule "generators/riscv-sodor"]
	path = generators/riscv-sodor
	url = ../../ucb-bar/riscv-sodor.git
[submodule "fpga/fpga-shells"]
	path = fpga/fpga-shells
	url = ../../chipsalliance/rocket-chip-fpga-shells.git
[submodule "tools/api-config-chipsalliance"]
	path = tools/api-config-chipsalliance
	url = ../../chipsalliance/api-config-chipsalliance.git
[submodule "tools/rocket-dsp-utils"]
	path = tools/rocket-dsp-utils
	url = ../../ucb-bar/rocket-dsp-utils
[submodule "generators/ibex"]
	path = generators/ibex
	url = ../../ucb-bar/ibex-wrapper
[submodule "generators/fft-generator"]
	path = generators/fft-generator
	url = ../../ucb-bar/FFTGenerator.git
[submodule "toolchains/riscv-tools/riscv-tests"]
	path = toolchains/riscv-tools/riscv-tests
	url = ../../riscv-software-src/riscv-tests.git
[submodule "toolchains/riscv-tools/riscv-pk"]
	path = toolchains/riscv-tools/riscv-pk
	url = ../../riscv-software-src/riscv-pk.git
[submodule "toolchains/riscv-tools/riscv-openocd"]
	path = toolchains/riscv-tools/riscv-openocd
	url = ../../riscv/riscv-openocd.git
[submodule "toolchains/riscv-tools/riscv-isa-sim"]
	path = toolchains/riscv-tools/riscv-isa-sim
	url = ../../riscv-software-src/riscv-isa-sim.git
[submodule "toolchains/riscv-tools/riscv-tools-feedstock"]
	path = toolchains/riscv-tools/riscv-tools-feedstock
	url = ../../ucb-bar/riscv-tools-feedstock.git
[submodule "toolchains/esp-tools/esp-tools-feedstock"]
	path = toolchains/esp-tools/esp-tools-feedstock
	url = ../../ucb-bar/esp-tools-feedstock.git
[submodule "toolchains/esp-tools/riscv-isa-sim"]
	path = toolchains/esp-tools/riscv-isa-sim
	url = ../../ucb-bar/esp-isa-sim.git
[submodule "toolchains/esp-tools/riscv-pk"]
	path = toolchains/esp-tools/riscv-pk
	url = ../../riscv-software-src/riscv-pk.git
[submodule "toolchains/esp-tools/riscv-tests"]
	path = toolchains/esp-tools/riscv-tests
	url = ../../ucb-bar/esp-tests.git
[submodule "toolchains/libgloss"]
	path = toolchains/libgloss
	url = ../../ucb-bar/libgloss-htif.git
[submodule "generators/constellation"]
	path = generators/constellation
	url = ../../ucb-bar/constellation.git
[submodule "generators/mempress"]
	path = generators/mempress
	url = ../../ucb-bar/mempress.git
