bootrom/*
docs/warnings.txt
/Makefrag.pkgs
target
*.jar
*.stamp
*.vcd
*.swp
*.swo
*.log
*#
*~
.idea
.DS_Store
env.sh
tags
*~
.bsp/
.conda-env/
.#*
first-clone-setup-fast-log
*.uuid

# Symlinked files from vortex-ntnu
generators/vortex
generators/chipyard/src/main/scala/config/VortexConfigs.scala
